<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-basico</title>
</head>

<body>
    <h1>Django-basico</h1>
    <h4>Nome: {{ nome }}</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aperiam sunt, voluptatem, in quod ullam itaque
        nobis quia cumque facere voluptatibus iure delectus. Inventore cum doloremque deleniti. Nulla, similique
        voluptatem.</p>

</body>

</html>