<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New pokemon</title>
</head>

<body>
    <h1>Adicionar pokemon</h1>
    <hr>
    <div>
        Diga o(s) Id(s) do(s) pokemon(s):
        <input type="text" placeholder="Informe o(s) id(s) do(s) pokemon(s)" size="35">
    </div>
    <br><br>
    <hr>
    <h3>Forma:</h3>
    <p>
        Escrever "0" => adicionará "bulbasaur"
        <br>
        Escrever "0 -> 2" => adicionará ["bulbasaur", "ivysaur", "venusaur"]
    </p>
</body>

</html>